.container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.buttons{
    display: flex;
    flex-flow: row;
    align-items: center;
}

.message{
    background-color: lightgrey;
    border: 1px solid gray;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;
}

.success{
    color: green;
}

.error{
    color: red;
}