.table{
    border-collapse: collapse;
    margin: auto;
}

.table>thead >tr >th{
    border:1px solid black;
    padding: 8px;
    text-align: center;
    background-color: lightgrey;
}

.table>tbody >tr >td{
    border:1px solid black;
    padding: 8px;
    text-align: center;
}

.sortable{
    cursor: pointer;
}
.sortable:hover{
    background-color: gray;
}

.pagintation{
    text-align: center;
    margin-bottom: 10px;

}

.pagintation>select{
    margin: 4px;
}